server:
  port: 9191

spring:
  main:
    web-application-type: reactive
  application:
    name: api-gateway
  cloud:
    gateway:
      routes:
        - id: authentication-service
          uri: lb://authentication-service
          predicates:
            - Path=/authentication/**

        - id: facility-service
          uri: lb://facility-service
          predicates:
            - Path=/equipment/**,/location/**,/sports/**

        - id: lesson-service
          uri: lb://lesson-service
          predicates:
            - Path=/lessons/**

        - id: reservation-service
          uri: lb://reservation-service
          predicates:
            - Path=/reservations/**

        - id: user-service
          uri: lb://user-service
          predicates:
            - Path=/users/**,/teams/**

eureka:
  client:
    register-with-eureka: true
    fetch-registry: true
    service-url:
      defaultZone: http://localhost:8761/eureka/
  instance:
    hostname: localhost